[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:aslamnd/oh-my-zsh.git
[submodule "janus/powerline"]
	path = janus/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "janus/vim-multiple-cursors"]
	path = janus/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "janus/vim-airline"]
	path = janus/vim-airline
	url = https://github.com/bling/vim-airline.git
